.navbar {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.navbar-container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-link {
  color: #4b5563;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navbar-link:hover {
  color: black;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .mobile-menu {
    margin-top: 0.5rem;
    padding: 0 1rem;
  }

  .mobile-menu a {
    display: block;
    padding: 0.5rem 0;
    color: #374151;
    text-decoration: none;
  }

  .mobile-menu a:hover {
    color: black;
  }
}
